* {
    color: white;
    font-family: "Liter", serif;
    text-align: center;
}
body {   
    background-color: rgb(54, 69, 79);
}
#title_text, #beta_text {
    display: inline;
    vertical-align: text-top;
}
#beta_text {
    color: pink;
    text-shadow: 0px 3px black;
}
#title_text {
    text-shadow: 0px 3px black;
}
#goback {
    background-color: rgb(54, 69, 79);
    text-shadow: 0px 3px black;
}